{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}{{ 'plugin.solr.pagetitle'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.solr.pagetitle'|trans }}{% endblock %}

{% block admin_stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('public/bundles/newscoopsolrsearchplugin/css/plugin.css') }} "/>
{% endblock %}

{% block admin_scripts %}
    <script type="text/javascript" src="{{ asset('public/bundles/newscoopsolrsearchplugin/js/plugin.js') }}"></script>
{% endblock %}

{% block admin_content %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ include('NewscoopSolrSearchPluginBundle:Admin:_menu.html.twig', {menuActive: menuActive|default('status')}, with_context = false) }}

    <div class="tab-content">
        {% block plugin_content %}{% endblock %}
    </div>

    <div id="dialog-confirm" title="" style="display:none">
        <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span></p>
    </div>

{% endblock %}
