{% extends 'NewscoopSolrSearchPluginBundle:Admin:_boilerplate.html.twig' %}

{% block admin_title %}{{ 'plugin.solr.pagetitle'|trans }} - {{ 'plugin.solr.menu.status'|trans }}{% endblock %}
{% block admin_page_title_content %}{{ 'plugin.solr.solr'|trans }} {{ 'plugin.solr.menu.status'|trans }}{% endblock %}

{% block admin_content %}
    {% set menuActive = 'status' %}

    {{ parent() }}
{% endblock %}

{% block plugin_content %}
    {% if status != true %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% else %}
        {% if cores %}
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>{{ 'plugin.solr.admin.table.name'|trans }}</th>
                        <th>{{ 'plugin.solr.admin.table.lastModified'|trans }}</th>
                        <th>{{ 'plugin.solr.admin.table.numDocs'|trans }}</th>
                        <th>{{ 'plugin.solr.admin.table.version'|trans }}</th>
                        <th>{{ 'plugin.solr.admin.table.uptime'|trans }}</th>
                        <th>{{ 'plugin.solr.admin.table.size'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for core in cores %}
                        <tr>
                            <td>{{ core.name }}</td>
                            <td>{{ core.lastModified|date('d-m-Y H:i') }}</td>
                            <td>{{ core.numDocs|number_format }}</td>
                            <td>{{ core.version|number_format }}</td>
                            <td title="{{ core.lastModified|date('d-m-Y H:i') }}">{{ core.uptime|date('z h') }}</td>
                            <td>{% if core.size is defined %}
                                {{ core.size }}
                            {% else %}
                                N/A
                            {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}

        <hr>

        <button id="viewRaw" class="btn btn-default">
            {{ 'plugin.solr.admin.button.viewraw'|trans }}
        </button>

        <pre id="rawBody" class="hidden pre-scrollable">{% spaceless %}
            {{ rawBody }}
        {% endspaceless %}</pre>

    {% endif %}

{% endblock %}
